@import "../../styles.scss";

.sidenav-container {
  transition:ease-in-out 0.3s;

  width: 100%;
  height: 100%;
  background-color: $accent;
  position: relative;
  & * {
    box-sizing: border-box;
    color: white;
  }
  & .mobile-view {
    display: none;
  }
  & .sidenav {
    background-color: $accent;
    // border-right: 1px solid $primary !important;
    color: $primary;
    border: none;
    width: 20%;
    max-width: 200px;
    min-width: 160px;
    // height: 100%;
  }
  & .content {
    // height: 100%;
    position: relative;
    & .container {
      position: absolute;
      height: calc(100% - #{$toolbar-height});
      width: 100%;
    }
  }
  &.light-mode{
      background-color: #6390bb !important;
      position: relative;
      & * {
        box-sizing: border-box;
        color: $accent !important;
      }
      & .sidenav {
        background-color: #6390bb !important;
      }
    }

}


// ::ng-deep .mat-drawer-inner-container {
//   overflow: hidden !important;
// }