@import "../../styles.scss";

.sidenav-container {
  width: 100%;
  height: 100%;
  background-color: $accent;
  position: relative;
  & * {
    box-sizing: border-box;
    color: white;
  }
  & .mobile-view {
    display: none;
  }
  & .sidenav {
    background-color: $primary;
    color: $primary;
    border: none;
    width: 20%;
    max-width: 240px;
    min-width: 160px;
    // height: 100%;
  }
  & .content {
    background-color: $accent;
    // height: 100%;
    position: relative;
    & .container {
      position: absolute;
      height: calc(100% - #{$toolbar-height});
      width: 100%;
    }
  }
}

// ::ng-deep .mat-drawer-inner-container {
//   overflow: hidden !important;
// }