<div class="container">
    <div class="header">
        <mat-icon routerLink="/earners">chevron_left</mat-icon>
        <span routerLink="/earners">Add new earner</span>
    </div>
    <form class="form" [formGroup]="form" class="earners-form">
        <div class="group g1">
            <mat-form-field appearance="outline">
                <mat-label>Name*</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Points*</mat-label>
                <input matInput formControlName="points">
              </mat-form-field>                
        </div>
        <div class="group g2">
            <mat-form-field appearance="outline">
                <mat-label>Description*</mat-label>
                <input matInput formControlName="description">
              </mat-form-field>
              <div class="type-container">
                <h3>Types (choose one)*</h3>
                <mat-selection-list #typesList class="type-input" (selectionChange)="onTypesChange(typesList.selectedOptions.selected)">
                  <mat-list-option [value]="type" *ngFor="let type of types">
                    {{type}}
                  </mat-list-option>
                </mat-selection-list>
              </div>
        </div>
        <div class="group g3">
            <mat-radio-group class="radio-group" [(ngModel)]="visibleFor" [ngModelOptions]="{standalone: true}" aria-label="Select an option">
              <h3>Visible for:</h3>  
              <mat-radio-button class="radio-btn" *ngFor="let selection of visibleForList" [value]="selection" (change)="radioChange($event)">
                {{selection}}
              </mat-radio-button>
            </mat-radio-group>
            <div class="empty-div"></div>
        </div>
    </form>
    <div class="save-btn-container">
      <button mat-flat-button >Save</button>
    </div>
</div>