@import "../../styles.scss";
.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $toolbar-height;
  background-color: $primary;
  color: white;
  padding: 0px !important;
  & .burger-btn {
    display: none;
  }
  & .title {
      cursor: pointer;
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
      font-size: 20px;
      font-family: 'Nunito', sans-serif;
  }
  & .logos {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 700px) {
  .title{
    font-size: 16px !important;
  }
  .burger-btn{
    display: initial !important;
  }
}
