.img-container {
    margin-top: 25px;
    display:flex;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    & img {
        width: 200px;
        height: 200px;
    }
}

.track-container{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    & .track {
        & img{

        }
        & .info{
            margin-left: 14px;
            display: flex;
            flex-direction: column;
            width: 90%;
            & div {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
    & .lyrics-container {
        display: flex;
        justify-content: center;
        .lyrics-loading{

        }
        .lyrics {
            display: flex;
            flex-direction: column;
        }
    }
}

