<div class="form-container">
  <form
    *ngIf="!token"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="login-form"
  >
    <h1 class="login-title" [ngStyle]="{'text-align':'center'}">Log into your account to start using the app</h1>
    <mat-form-field appearance="outline">
      <input
        type="email"
        matInput
        placeholder="Email"
        formControlName="email"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="input-container">
      <input
        type="password"
        matInput
        placeholder="Password"
        formControlName="password"
      />
      <mat-error *ngIf="form.controls.password.errors?.required"
        >Password is required</mat-error
      >
      <mat-error *ngIf="form.controls.password.hasError('minlength')"
        >Password isn't long enough, minimum of 6 characters</mat-error
      >
    </mat-form-field>
    <mat-error>{{ errors.message }}</mat-error>
    <button mat-raised-button color="primary" class="submit-btn" type="submit">
      SIGN IN
    </button>
    <a class="swap-link" color="primary" mat-raised-button routerLink="/register"
      >No account? Sign up now</a>
      <p>or login with</p>
      <button mat-button type="button" (click)="loginWithGoogle()">
        <div class="google-icon">
          <img src="https://img.icons8.com/fluent/48/000000/google-logo.png"/>      </div>
      </button>
  </form>
</div>

<mat-spinner *ngIf="isLoading" class="loading"></mat-spinner>
