<div *ngIf="!spotifyConnect" class="welcome">
  <h2>Welcome to Spoti Got Bars</h2>
  <h3 [ngStyle]="{'align-items':'center'}">Connect to spotify and you'll get bars from most of your spotify library !</h3>
  <button  mat-raised-button color="primary" class="connect-btn" (click)="connectSpotify()">
    CONNECT SPOTIFY
  </button>
</div>

<div *ngIf="spotifyConnect && user" class="user-profile">
  <h1>Welcome</h1>
  <div class="user-img">
    <img src="{{ user.images[0].url }}" alt="" />
  </div>
  <h2 >{{ user.display_name }} !</h2>
  <h2>Go to your <button mat-flat-button color="primary" routerLink="/playlists">playlist</button> to get lyrics </h2>
</div>

