@import '../../styles.scss';

.menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
    height: 100%;
    & .menu-header {
        height: $toolbar-height;
        width: 100%;
        background-color: $primary
    }
    & .menu-content {
        height: calc(100% - #{$toolbar-height});
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        & .list {
            margin: 0;
            display: flex;
            flex-direction:column;
            justify-content: flex-start;
            align-items: flex-start;
            // margin-left: 17px;
            height: 60%;
            padding: 0;
            width: 100%;
            & li {
                box-sizing: border-box;
                width: 100%;
                display: flex;
                justify-content:flex-start;
                align-items: center;
                font-size: 15px;
                font-weight: 500;
                // color: #ffffff;
                font-weight: 700;
                padding: 12px;
                border-bottom: 1px solid $primary;
                cursor: pointer;
                &.selected {
                    background-color: $primary;
                    color: white;
                }
                & .name {
                    width: 100%;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0px 6px;
                }
            }
        }
    }
}
