/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;500;600&display=swap');

@import "./theme.scss";

$toolbar-height: 55px;



html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Signika', sans-serif;
        // background-color: #191414;
  }
  
*:not(mat-icon) {
  font-family: 'Signika', sans-serif;
}

.swap-link {
  color: $primary;
}

::ng-deep {
    //mat-input focused color
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
      color: white!important;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
       color: white;
    }
    mat-form-field {
       .mat-hint, input, ::placeholder, .mat-form-field-label {
          color: white !important;
       }
    }
    mat-selection-list{
      .mat-list-text {
        color: white;
      }
      .mat-pseudo-checkbox {
        color: white;
      }
    }
    .mat-radio-container {
      .mat-radio-outer-circle {
        background-color: white
      }
    }
 }