@import "~@angular/material/theming";

$md-blue: (
    50 : #e6edf3,
    100 : #c0d1e1,
    200 : #96b3ce,
    300 : #6c94ba,
    400 : #4d7dab,
    500 : #2d669c,
    600 : #285e94,
    700 : #22538a,
    800 : #1c4980,
    900 : #11386e,
    A100 : #a3c6ff,
    A200 : #70a6ff,
    A400 : #3d86ff,
    A700 : #2476ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-black: (
  50: #e3e3e3,
  100: #bab9b9,
  200: #8c8a8a,
  300: #5e5b5b,
  400: #3c3737,
  500: #191414,
  600: #161212,
  700: #120e0e,
  800: #0e0b0b,
  900: #080606,
  A100: #ff4f4f,
  A200: #ff1c1c,
  A400: #e80000,
  A700: #cf0000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
$app-primary: mat-palette($md-blue);
$app-accent: mat-palette($md-black);
$app-warn: mat-palette($mat-deep-orange);

// Custom Sass colors vars (will be available in all the project)
$primary: mat-color($app-primary, 500, 700);
$accent: mat-color($app-accent, 500, 50);
$warn: mat-color($app-warn);
